:root{
	--base: #272829;
	--color2: #34373c;
	--color3: #707172;
}
body{
	background-color: #ededed;
}

img{
	max-width: 100%;
}
[onclick]{
	cursor: pointer;
}
.login-content{
	position: absolute;
	top: 45px;
	right: 0;
	left: 0;
	max-width: 439px;
	margin: auto;
	width: 98%;
	box-shadow: 0px 0px 33px 4px rgba(48,32,32,0.22);
	border-radius: 10px;
	padding: 45px 26px;
	background: white;
}

.login-content .login-logo{
	text-align: center;
}

.login-content .login-form{

}

.login-content .login-form .login-group{
	position: relative;
	margin: 32px 0;
}

.login-content .login-form .login-group input.login-input{
	width: 100%;
	border: 2px solid #d9d9d9;
	padding: 15px;
	border-radius: 5px;
	background: transparent;
	color: #3a3a3a;
	outline: none;
	z-index: 1;
	position: relative;
}

.login-content .login-form .login-group span{
	position: absolute;
	margin: auto;
	left: 17px;
	color: #6e6d6d;
	font-weight: 500;
	line-height: 1;
	transition: .4s;
	padding: 6px 0;
	top: 14px;
	z-index: 0;
}
.login-content .login-form .login-group input.login-input:focus ~ span{
	transform: scale(0.75);
	color: #02aff1;
	background: white;
	padding: 0 5px;
	left: -6px;
	top: -8px;
	z-index: 1;
}
.login-content .login-form .login-group input.login-input:valid ~ span{
	transform: scale(0.75);
	color: #02aff1;
	background: white;
	padding: 0 5px;
	left: -6px;
	top: -8px;
	z-index: 1;
}
.login-content .login-form .login-group input.login-input:valid{
   border-bottom: 2px solid #02aff1;
}
.login-content .login-form .login-check{
	display: flex;
	margin: 1px 24px;
	font-size: 13px;
	margin-bottom: 24px;
	margin-top: -14px;
}
.login-content .login-form .login-check input[type="checkbox"]{
	transform: scale(1.5);
}
.login-content .login-form .login-check label{
	margin-left: 8px;
	margin-top: 2px;
	font-weight: 500;
	color: #5e5e5e;
}
.login-content h6{
	text-align: center;
	margin: 26px;
	margin-bottom: 63px;
}

.login-content .login-form .login-button{
	text-align: right;
}
.login-content .login-form .login-button button.btn-login{
	background: #02aff1;
	color: white;
	padding: 9px 36px;
	font-variant: all-petite-caps;
	position: relative;
}
.lds-ring {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #02aff1;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #02aff1 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadpage{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	text-align: center;
	margin: auto;
	background: rgba(237,237,237,0.66);
}

.control-container{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.control-container .control-nav{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 17%;
	background: var(--base);
	transition: .3s;
	overflow-y: auto;
	overflow-x: hidden;
}
.control-container .control-content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 17%;
	width: 83%;
	background: #ededed;
	transition: .3s;
}
.control-container .control-content .content{
	position: absolute;
	top: 63px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.control-container.nav-close .control-content{
    left: 6%;
    width: 94%;
}
.control-container .control-nav .logo{
	text-align: center;
	/* background: url(../img/logo2.png); */
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 163px;
	width: 100%;
	height: 102px;
	margin: 28px auto;
}
.control-container.nav-close .control-nav .logo{
	/* background: url(../img/logo3.png); */
	background-size: contain;
	background-repeat: no-repeat;
	width: 74%;
	height: 102px;
	margin: 28px 9px;
}
.control-container .control-content .control-header{
	width: 100%;
	background: var(--color2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	clear: both;
	display: flex;
	justify-content: space-between;
}
.control-container .control-content .control-header button.nav-bar{
	border: none;
	background: none;
	font-size: 33px;
	outline: none;
	color: rgba(255, 255, 255,0.79);
	line-height: 1;
	padding: 10px;
	margin: 0 7px;
}

.control-container .control-content .control-header .control-user{
	position: relative;
}
.control-container .control-content .control-header .control-user button{
	padding: 6px 21px;
	margin: 0 11px;
	box-shadow: none!important;
	color: white;
}
.control-container .control-content .control-header .control-user button img{
	width: 40px;
	border-radius: 50%;
	margin-right: 14px;
}
.control-container .control-content .control-header .control-user button i{
	margin-left: 7px;
}
.control-container .control-content .control-header .control-user ul{
	list-style: none;
	padding: 0;
	position: absolute;
	max-width: 350px;
	width: 100%;
	right: 0;
	margin: 3px 0;
	background: white;
	z-index: 99;
	box-shadow: 0 0px 4px rgba(0,0,0,0.15);
	border-radius: 0 0 5px 5px;
	padding: 7px 0;
	text-align: center;
	display: none;
	opacity: 0;
	transition: .3s;
}
.control-container .control-content .control-header .control-user.user-open > ul{
	display: block;
	opacity: 1;
}
.control-container .control-content .control-header .control-user.user-open{
	background: white;
}
.control-container .control-content .control-header .control-user.user-open > button{
	color: #212529;
}
.control-container .control-content .control-header .control-user > ul li{
	padding: 8px 0;
	transition: .1s;
	cursor: pointer;
}
.control-container .control-content .control-header .control-user > ul li:hover{
	color: white;
	background: #086f97;
}
.control-container .control-nav .nav-group{
	position: relative;
	margin-bottom: 5px;
	box-shadow: 1px 2px 8px rgba(0,0,0,0.01);
}
.control-container .control-nav .nav-group:last-child{
	border-bottom: none;
}
.control-container .control-nav .nav-group > div{
	font-variant: all-petite-caps;
	color: white;
	font-weight: 500;
	font-size: 1.1em;
	padding: 10px 0;
	cursor: pointer;
	background: var(--color2);
	display: flex;
	align-items: center;
}
.control-container .control-nav .nav-group:has(> ul):after{
	content: "";
	position: absolute;
	right: 16px;
	top: 16px;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-left: none;
	border-top: none;
	border-right: 2px rgba(255,255,255,0.55) solid;
	border-bottom: 2px rgba(255,255,255, 0.55) solid;
	transition: .2s;
}
.control-container .control-nav .nav-group:has(> ul):has(> div.menu_open):after{
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	top: 19px;
}
.control-container .control-nav .nav-group > div i{
	width: 23%;
	text-align: center;
}
.control-container .control-nav .nav-group > div .nav-txt{
	width: 77%;
}
.control-container .control-nav .nav-group ul{
	list-style: none;
	padding: 0;
	margin: 0;
	background: var(--color3);
	display: none;
	padding: 16px 0;
}
.control-container .control-nav .nav-group ul li{
	padding: 8px 16px;
	cursor: pointer;
	margin: 3px 0px;
	color: white;
	transition: .1s;
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #606162;
}
.control-container .control-nav .nav-group ul li:last-child{
	border-bottom: none;
}
.control-container .control-nav .nav-group ul li:hover{
	background: rgba(255,255,255,0.33);
}
.control-container .control-nav .nav-group ul li i{
	font-size: 1.2em;
	line-height: 1.2;
	width: 30%;
	text-align: center;
}
.control-container .control-nav .nav-group ul li .nav-txt{
	width: 70%;
}
.control-container.nav-close .control-nav .nav-group ul li .nav-txt{
	display: none;
}
.control-container.nav-close .control-nav{
    width: 6%;
}
.control-container.nav-close .control-nav .nav-group ul li i{
	margin-right: 0px;
}
.control-container.nav-close .control-nav .nav-group > div .nav-txt{
	display: none;
}
.control-container.nav-close .control-nav .nav-group > div i{
	width: 100%;
	margin: 3px 0;
}
.panel{
	background: white;
	margin: 25px 31px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	padding: 20px;
}
.panel h2{
	margin-bottom: 33px;
	font-size: 1.4rem;
}
.panel .panel-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.panel .panel-header > .title{
	font-size: 32px;
	font-weight: 500;
	font-variant: all-petite-caps;
}
.panel .panel-header > .title p{
	font-size: 12px;
	color: grey;
	font-weight: 400;
	font-variant: initial;
}
.panel .panel-header .buttons{
	display: flex;
	width: 50%;
}
.panel .panel-header .buttons > .column{
	position: relative;
	flex-basis:0;
	flex-grow:1;
	flex-shrink:1;
}
.panel .panel-header .buttons button{
	margin: 0 17px;
	font-size: 15px;
	padding: 6px 0;
	font-variant: all-petite-caps;
	width: 80%;
}
.btn-load{
	box-shadow: 0 1px 2px rgba(0,0,0,0.52);
	border-radius: 27px;
	background: aliceblue;
	font-variant: all-petite-caps;
	font-weight: 500;
	padding: 7px 24px;
	color: #464646!important;
}
.btn-opcion{
	margin-right: 11px;
	border-radius: 50%;
	background: white;
	width: 37px;
	height: 37px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.38);
	border: 1px solid #dfdfdf;
	color: #747474;
}
.menu-opcion{
	width: 38px;
	position: relative;
}
.menu-opcion ul{
	list-style: none;
	position: absolute;
	min-width: 188px;
	width: 100%;
	right: 0;
	margin: 0;
	background: white;
	z-index: 99;
	box-shadow: 0 0px 4px rgba(0,0,0,0.15);
	border-radius: 5px;
	padding: 7px 0;
	text-align: center;
	display: none;
	transition: .3s;
}
.menu-opcion button.isopen ~ ul{
	display: block;
}
.menu-opcion ul li{
	padding: 5px 0;
	transition: .1s;
	cursor: pointer;
	color: #525252;
}
.menu-opcion ul li:hover{
	color: white;
	background: #086f97;
}

.btn-txt1{
	font-variant: all-petite-caps;
	font-size: 18px;
}
.mat-control{
	margin-bottom: 19px;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	background: white;
}
::-webkit-scrollbar-thumb {
	background: #043446;
	border-radius: 10px;
}
.selection tbody tr{
	transition: .2s;
	cursor: pointer;
}
.selection tbody tr:hover{
	background: #028ab3;
	color: white;
}
.hojadevida .view{
	background: #54afef;
	padding: 22px;
	border-radius: 6px;
	color: white;
	font-variant: all-petite-caps;
	font-weight: 500;
	font-size: 20px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.21);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.51);
}
.hojadevida  .equipo{
	background: aliceblue;
	padding: 33px;
	font-size: 29px;
	font-weight: 700;
	text-align: center;
	color: #363636;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.07);
	border-radius: 2px;
	border: 1px solid #dbe5ed;
	cursor: pointer;
	margin-bottom: 19px;
}
.back{
	margin: 29px;
}
.back button{
	font-variant: all-petite-caps;
}
.dataTables_wrapper {
	position: relative;
	clear: both;
	background-color: #F3F6F9 !important;
	padding: 32px;
	border-radius: 9px;
}
table.dataTable.stripe>tbody>tr.odd>*, table.dataTable.display>tbody>tr.odd>* {
    box-shadow: none;
}
table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
	box-shadow: inset 0 0 0 9999px rgba(0,0,0,0.02);
}

@media(max-width: 767px)
{
	.control-container .control-content{
		left: 0;
		width: 100%;
	}
	.control-container .control-nav{
		width: 69%;
		left: -69%;
		z-index: 999;
	}
	.control-container.nav-close .control-nav{
		width: 69%;
		left: 0;
		z-index: 999;
		box-shadow: 0px 0px 78px 53px rgba(0,0,0,0.19);
	}
	.control-container.nav-close .control-nav .logo{
		text-align: center;
		/* background: url(../img/logo2.png); */
		background-size: contain;
		background-repeat: no-repeat;
		max-width: 238px;
		width: 100%;
		height: 102px;
		margin: 28px auto;
	}
	.control-container.nav-close .control-nav .nav-group > div{
		opacity: 1;
	}
	.control-container.nav-close .control-nav .nav-group ul li i{
		margin-right: 15px;
	}
	.control-container.nav-close .control-nav .nav-group ul li .nav-txt{
		display: block;
	}
	.panel{
		margin: 25px 15px;
	}
	.control-container.nav-close .control-content{
	    left: 0;
	    width: 100%;
	}
	.hojadevida .view{
		margin: 11px 0;
	}
	.control-container.nav-close .control-nav .nav-group > div .nav-txt{
		display: block;
	}
	.panel .panel-header .buttons{
		flex-direction: column;
	}
	.panel .panel-header .buttons > .column{
		width: 100%;
		margin-bottom: 10px;
	}
}
.bselect-active.elipsis{
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-bottom: -5px;
}
.bselect-default-text {
	padding-left: 0px;
}
.bselect-content {
	margin-top: 8px;
	width: 100%!important;
}
.list-mat{
	background: rgba(0,0,0,0.05);
	border-radius: 5px;
	padding: 11px;	
}
.list-mat .title{
	font-variant: all-petite-caps;
	text-align: center;
	font-weight: 500;
	margin-bottom: 12px;
}
.list-mat > ul{
	list-style: none;
	padding: 0;
}
.list-mat > ul li{
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,0.16);
	font-size: 15px;
}
.list-mat > ul li:last-child{
	border-bottom: none;
}
.list-mat .dataTables_wrapper {
    background-color: transparent!important;
    padding: 0px;
}

.list-mat table.dataTable tbody th, .list-mat table.dataTable tbody td {
    padding: 0px 10px;
}

table.dataTable.serv>tbody>tr.child ul.dtr-details {
    white-space: normal;
}

.print table thead tr th{
	background: #a5d4d9;
    border: 1px solid gray;
    text-align: center;
}
.print table tbody tr td{
	border: 1px solid gray;
	font-size: 12px;
	text-align: center;
	padding: 10px;		
}

.print2 table thead tr th{
	background: #a5d4d9;
    border: 1px solid gray;
    text-align: center;
}
.print2 table tbody tr td{
	border: 1px solid gray;
	font-size: 12px;
	padding: 10px;		
}

.empleados .empl-content ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 282px;
	align-content: flex-start;
	margin-bottom: 0;
	background: #f3f6f9;
	border-radius: 12px;
	padding: 18px;
	overflow-y: auto;
}

.empleados .empl-content ul li{
	margin: 3px 17px;
	border-bottom: 1px solid rgb(0 0 0 / 6%);
	padding: 0px 9px;
	font-size: 14px;
}

.empleados .bselect-content{
	position: inherit;
	top: 0!important;
}
.informe-stats{
	display: flex;
	justify-content: end;
}
.informe-stats .item{
	background: aliceblue;
	max-width: 360px;
	width: 100%;
	padding: 15px 47px;
	border-radius: 6px;
	margin: 17px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}
table.dataTable {
    font-size: 12px;
}
.slider-list{

}

.slider-list ul{
	background: #eaeaea;
	list-style: none;
	padding: 20px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 12px rgba(0,0,0,0.13);
}

.slider-list ul li{
	display: inline-block;
	width: 16%;
	vertical-align: middle;
	margin: 9px;
	cursor: pointer;
	position: relative;
}


.slider-list ul li button.slremove{
	position: absolute;
	background: red;
	border: none;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	line-height: .1;
	font-size: 11px;
	font-weight: 700;
	color: white;
	top: -5px;
	left: -7px;
}

.slider-list ul li button.slGaleRem{
	position: absolute;
	background: red;
	border: none;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	line-height: .1;
	font-size: 11px;
	font-weight: 700;
	color: white;
	top: -5px;
	left: -7px;
}
.upload{
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.59);
}

.upload .upload-content{
	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
	width: 90%;
	max-width: 379px;
	background: white;
	margin: auto;
	padding: 29px 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 26px rgba(0,0,0,0.37);
}

.upload .upload-content button.upload-file{
    overflow: hidden;
    position: relative;
}

.upload .upload-content button.upload-file input[type="file"]{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	bottom: 0;
	opacity: 0;
}
.boxperms{
	margin-bottom: 31px;
	padding-left: 28px;
	display: flex;
	align-items: center;
}
.boxperms .form-check-input{
	transform: scale(1.2);
}
.boxperms .form-check-label{
	font-weight: 400;
}

.bselect-list li.elipsis {
	white-space: break-spaces;
	border-bottom: 1px solid #dbd1d1;
}
.bselect-default-text {
	white-space: break-spaces;
}
.bselect-active.elipsis{
	height: auto;
}
.sl_show{
	position: absolute;
	right: 0;
	top: -5px;
	padding: 2px;
	font-size: 13px;
}
table.table-ss tr{
	border-bottom: 1px solid #e3e3e3;
}
table.table-ss tr td{
	padding: 4px 7px;
	font-size: 14px;
}
table.table-ss input.form-control {
    min-width: 73px;
}
.editp .con, .editcol .con {
	margin: 10px;
	background: #dfdfdf;
	border-radius: 10px;
	padding: 24px;
	position: relative;
}

.editp .con .cancel, .editcol .con .cancel {
	position: absolute;
	right: 15px;
	top: 11px;
}
.lt-list tbody tr{
	cursor: pointer;
}
.lt-list tbody tr:hover{
	background: #336b87b5;
	color: white;
}
.list-mat .bselect-content{
	top: 29px!important;
	position: absolute;
}
a.table_buttons{
	padding: 2px 6px;
	text-decoration: none;
	color: white!important;
}
.table_buttons{
	border: 0;
	color: white;
	border-radius: 5px;
	font-size: 12px;
}
.table_buttons.orange{
	background: #ef8320;
}
.table_buttons.green{
	background: #078d56;
}
.table_buttons.red{
	background: #fc4770;
}
button.btn-green2{
	background-color: #23b870;
	color: white;
}
button.btn-green2:hover{
	background-color: #1a8752;
	color: white;
}
button.btn-orange2{
	background-color: #ef8320;
	color: white;
}
button.btn-orange2:hover{
	background-color: #cd701b;
	color: white;
}
.form_s .row .col-md-6:first-child{
	border-right: 1px solid rgba(0,0,0,0.20);
}
.form_s .group {
	display: flex;
	margin: 19px 0;
	align-items: center;
	padding-right: 37px;
}

.form_s .group .label{
	width: 38%;
	text-align: right;
	padding-right: 26px;
	font-size: 14px;
	font-weight: 600;
}
.form_s .group input, .form_s .group textarea, .form_s .group select{
    width: 62%;
}
.form_s .group:has(> .status) input{
    width: 52%;
}
.form_s .group .status{
	border-radius: 5px;
	width: 10%;
	height: 31px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 19px;
	color: white;
	font-weight: 600;
	font-size: 14px;
}
.form_s .group .status.si{
	background: #049ce1;
}
.form_s .group .status.no{
	background: #FF5722;
}
.form_s .group .status.si:after{
	content: "Si";
}
.form_s .group .status.no:after{
	content: "No";
}
.form_s h5{
	text-align: center;
	font-weight: 300;
}
.form_s h4{
	text-align: center;
	margin-bottom: 50px;
	font-weight: 400;
}
.form_s .submit{
	text-align: right;
	margin-top: 57px;
}
@media(max-width: 767px) {
	.form_s .row .col-md-6:first-child{
		border-right: none;
		border-bottom: 1px solid rgba(0,0,0,0.20);
    	margin-bottom: 49px;
	}
}
.progress_bar{
	height: 25px;
	background: #c9c9c9;
	margin: 15px auto;
	width: 100%;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
}
.progress_bar .bar{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0;
	background: var(--color3);
	transition: .2s;
}
.progress_bar.success .bar{
	background: #4CAF50;
}
.progress_bar.error .bar{
	background: #E91E63;
}
.progress_bar .txt{
	color: white;
	position: relative;
	text-align: center;
	font-weight: 600;
	font-variant: all-petite-caps;
}
button.back_btn{
	margin: 10px 31px;
	border: 0;
	background: var(--color3);
	border-radius: 5px;
	color: white;
	padding: 8px 23px;
	padding-top: 6px;
	font-variant: all-petite-caps;
}
.view-list {

}
.view-list ul{
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid #d3d3d3;
}
.view-list ul li{
	display: flex;
	border-bottom: 1px solid #d3d3d3;
	font-size: 13px;
}
.view-list ul li:last-child{
	border-bottom: none;
}
.view-list ul li .name{
	width: 56%;
	padding: 9px;
	border-right: 1px solid #d3d3d3;
}
.view-list ul li .name .ct{
	width: fit-content;
	background: #3286c9;
	color: white;
	padding: 1px 12px;
	border-radius: 6px;
}
.view-list ul li .value{
	width: 44%;
	padding: 9px;
}
.lds-ring2 {
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.lds-ring2 div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 3px;
	border: 3px solid #ffffff;
	border-radius: 50%;
	animation: lds-ring2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #ffffff transparent transparent transparent;
}
.lds-ring2 div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring2 div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring2 div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.group_separate{
	border-bottom: 1px solid rgba(0,0,0,0.20);
	margin: 35px 0;
}